<?xml version="1.0" encoding="UTF-8" ?>

<beans:beans
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:camel="http://camel.apache.org/schema/spring"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd	 
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd
	http://camel.apache.org/schema/spring
    http://camel.apache.org/schema/spring/camel-spring.xsd">
	
	<beans:bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<beans:property name="jobDetails">
	   		<beans:list>
	      		<beans:ref bean="jobDetail" />
	   		</beans:list>
		</beans:property>
		<beans:property name="triggers">
	    	<beans:list>
				<beans:ref bean="simpleTrigger" />
	    	</beans:list>
		</beans:property>
   	</beans:bean>
		
	<beans:bean id="jobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
  		<beans:property name="targetObject" ref="camelSubscriptionProvider" />
  		<beans:property name="targetMethod" value="updateSubscriptionList" />
	</beans:bean>	
		
	<beans:bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<beans:property name="jobDetail" ref="jobDetail" />
		<beans:property name="repeatInterval" value="15000" />
		<beans:property name="startDelay" value="6000" />
	</beans:bean>	
		
	<beans:bean id="subscriptionService" class="org.fogbeam.hatteras.subscription.SubscriptionService" >
		<beans:property name="restTemplate" ref="restTemplate" />
	
	</beans:bean>
	
	<beans:bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <beans:property name="messageConverters">
            <beans:list>
            	
            	<beans:bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
                	<beans:property name="marshaller" ref="jaxbMarshaller"/>
                	<beans:property name="unmarshaller" ref="jaxbMarshaller"/>
            	</beans:bean>
                
                <beans:bean class="org.springframework.http.converter.xml.SourceHttpMessageConverter"/>
 	           	<beans:bean class="org.springframework.http.converter.FormHttpMessageConverter"/>
    	        <beans:bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
 
            </beans:list>
        </beans:property>
    </beans:bean>
 
	<beans:bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
    	<beans:property name="classesToBeBound">
        	<beans:list>
            	<beans:value>org.fogbeam.quoddy.EventSubscription</beans:value>
            	<beans:value>org.fogbeam.quoddy.User</beans:value>
            	<beans:value>org.fogbeam.quoddy.jaxrs.collection.EventSubscriptionCollection</beans:value>
        	</beans:list>
    	</beans:property>
	</beans:bean>


	<camel:camelContext id="camelContext">
   		<camel:routeBuilder ref="camelRouteBuilder" />
	</camel:camelContext>
	
	<beans:bean id="camelRouteBuilder" class="org.fogbeam.hatteras.camel.CamelRouteBuilder" >
		<beans:property name="downloadLogger" ref="downloadLogger" />
		<beans:property name="existDBProcessor" ref="existDBProcessor" />
		<beans:property name="subscriptionPredicate" ref="camelSubscriptionPredicate" />
	</beans:bean>
		
	<beans:bean id="downloadLogger" class="org.fogbeam.hatteras.camel.CamelDownloadLogger" scope="prototype" />

	<beans:bean id="camelSubscriptionPredicate" class="org.fogbeam.hatteras.camel.CamelDynamicPredicate" >
		<beans:property name="subscriptionProvider" ref="camelSubscriptionProvider" />
	</beans:bean>
  
	<beans:bean id="recipientListBean" class="org.fogbeam.hatteras.camel.CamelRecipientList" />
  
  	<beans:bean id="camelSubscriptionProvider" class="org.fogbeam.hatteras.camel.CamelSubscriptionProvider">
  		<beans:property name="subscriptionService" ref="subscriptionService" />
  	</beans:bean>

	<beans:bean id="jms" class="org.apache.camel.component.jms.JmsComponent">
  		<beans:property name="connectionFactory" ref="jmsConnectionFactory"/>
	</beans:bean>
	
	<beans:bean id="jmsConnectionFactory" class="org.springframework.jndi.JndiObjectFactoryBean">
		<beans:property name="jndiEnvironment">
			<beans:props>
				<beans:prop key="java.naming.factory.initial">org.jnp.interfaces.NamingContextFactory</beans:prop>
				<beans:prop key="java.naming.provider.url">localhost:1099</beans:prop>
			</beans:props>
		</beans:property>	
		<beans:property name="jndiName" value="ConnectionFactory" />
	</beans:bean>	

	<beans:bean id="existDBProcessor" class="org.fogbeam.hatteras.persistence.ExistDBProcessor" />
	
	
</beans:beans>